@using Trooper.Testing.Web.Models
@using Trooper.Ui.Mvc.Rabbit
@using Trooper.Ui.Mvc.Rabbit.Props
@model TestUploadModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Rabbit controls</title>

    @{
        var goRabbit = new GoRabbit<TestUploadModel>(Html);
		var form = goRabbit.NewForm(new FormProps { Action = Url.Action("Submit", "UploadControl") });
    }

    @goRabbit.Header()
</head>

<body>
    @form.BeginForm()

    <div class="container">
        <h2>Upload Test Area</h2>

	    <hr/>

	    <div class="row">
		    <div class="col-xs-4">
			    @form.UploadFor(m => m.TestFl01, new UploadBoxProps { Title = "Upload 1" })
                @form.UploadFor(m => m.TestFl02, new UploadBoxProps { Title = "Upload 2" })
                @form.UploadFor(m => m.TestFl03, new UploadBoxProps { Title = "Upload 3" })
		    </div>

            <div class="col-xs-4">
                @form.UploadFor(m => m.TestFl04, new UploadBoxProps { Title = "Upload 4" })
                @form.UploadFor(m => m.TestFl05, new UploadBoxProps { Title = "Upload 5" })
            </div>

        </div>

        @form.Button(new ButtonProps { Title = "Refresh", ButtonType = ButtonTypes.Inverse, Submit = true })
    </div>

    @form.EndForm()
</body>
</html>